.password {

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: max-content;
        gap: 10px;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 10px;
        

        &:first-child {
            min-width: 300px;
            justify-content: space-between;
        }
    }

    &__text {
        font-size: 20px;
        color: #222;
    }

    &__square {
        padding: 1px 8px;
        max-width: fit-content;
    }

    &__input {
        text-align: center;
        width: 100px;
    }

    &__button {
        border-radius: 15px;
        background: aliceblue;
        color: #222;
        font-size: 15px;
        padding: 5px;
        cursor: pointer;

        &:hover {
            background: rgb(0, 7, 99);
            color: aliceblue;
        }
    }
}